/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-color: #000000;
  --main-color: #83b735;
}

section {
  padding: 50px 10%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 100px;
  background: #edecea;
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}
.logo span {
  color: var(--main-color);
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar a {
  font-size: 1rem;/*navbar usgiin hemjee*/
  padding: 20px 30px;
  font-weight: 500;/*usgiin bolt*/
  color: var(--text-color);
}

.navbar i {
  font-size: 1.3rem;
}

.navbar a:hover {
  color: var(--main-color);
}

.search-form {
  position: relative;
  align-items: center;
  margin-right: 20px;
}

.search-form input[type="text"] {
  width: 300px;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 0.9rem;
  outline: none;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button i {
  color: var(--text-color);
  font-size: 1rem;
}

.cart{
  margin-top: 50px;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home2 {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: covere;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home3 {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: covere;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home-text h1 {
  font-size: 2.7rem;
}
.home-text p {
  font-size: 0.938rem;
  margin: 0.4rem 0 1.8rem;
}
.home-text span {
  color: var(--main-color);
}
.btn {
  padding: 10px 14px;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.3rem;
  font-size: 14px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

ul li ul.dropdown {
  position: relative;
  display: inline-block;
}
.btn:hover {
  background: #8fc53d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul li ul li ul.dropdown2 li{
  display: block;
}

ul li ul li ul.dropdown2 {
  display: none;
  width:100%;
  padding:20px;
  background:fixed;
  position:absolute;
  display:none;
  text-align:left;
  margin-left: 25%;
}
ul li ul li:hover ul.dropdown2{
  display: block;
}

.btn:hover {
  background: #8fc53d;
}

.heading {
  text-align: center;
}
.heading span {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
}
.shop-container,
.new-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.box {
  position: relative;
  box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
  border-radius: 44px 4px 4px 4px;
  cursor: pointer;
}
.box .box-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 44px 4px 0 0;
}
.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.box .box-img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.title-price {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.title-price h3 {
  font-size: 1rem;
  font-weight: 600;
}
.box span {
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 12px;
  color: var(--main-color);
}
.stars .bx {
  color: var(--main-color);
}
.box .bx-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  font-size: 20px;
  color: #fff;
  border-radius: 4px 0 4px 0;
  background: var(--main-color);
  cursor: pointer;
}
.box .bx-cart:hover {
  background: #8fc53d;
}
.new-container .box {
  border-radius: 4px;
}
.new-container .box .box-img {
  border-radius: 4px;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.about-img img {
  width: 80%;
  border-radius: 10px;
  object-fit: contain;
}
.about-text span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-color);
}
.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}
.brands-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}
.brands-container img {
  width: 100px;
  filter: grayscale(1);
}
.brands-container img:hover {
  width: 100px;
  filter: grayscale(0);
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newsletter h2 {
  color: #fff;
}
.news-box {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.news-box input {
  width: 260px;
  height: 44px;
  border: none;
  outline: none;
  background: #fff;
  padding: 10px;
}
.news-box .btn {
  height: 44px;
  padding: 11px;
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1rem;
}
.footer-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box span {
  color: var(--main-color);
}
.footer-box p {
  font-size: 00.938rem;
  margin-bottom: 10px;
}
.social {
  display: flex;
  align-items: center;
}
.social a {
  font-size: 24px;
  margin-right: 10px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--main-color);
}
.footer-box h3 {
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-box li a {
  color: var(--text-color);
}
.footer-box li a:hover {
  color: var(--main-color);
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.contact-info span {
  color: var(--text-color);
}
.copyright {
  padding: 20px;
  text-align: center;
}
/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  .home-text h1 {
    font-size: 2rem;
  }
  .shop-container,
  .new-container {
    grid-template-columns: repeat(auto-fit, minmax(218px, auto));
  }
}
@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 /10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a:hover {
    color: #fff;
    background: var(--main-color);
  }
  .about{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .box-img{
    padding: 1rem;
    order: 2;
  }

}

@media (max-width: 491px){
    .home-text h1{
        font-size: 1.7rem;
    }
    .shop-container,
    .new-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .box .box-img{
        height: 300px;
    }
    .news-box input{
        width: 180px;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
  
    
  
}
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.popup-content {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%; /* Limit maximum width */
  max-height: 80%; /* Limit maximum height */
  position: relative; /* Positioning context for absolute positioning */
}

.popup-img {
  flex: 1;
  margin-right: 20px; /* Add spacing between image and info */
  overflow: hidden; /* Hide overflowing content */
}

.popup-img img {
  width: 100%; /* Make the image fit its container */
  height: auto; /* Maintain aspect ratio */
}

.popup-info {
  flex: 1;
}

.popup-details {
  margin-top: 10px;
}

.popup-details p {
  margin-bottom: 5px;
}

.popup-price-quantity {
  display: flex;
  flex-direction: column;
}

.quantity-selector {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 5px;
}

.quantity-btn:hover {
  background-color: #ddd;
}

#item-quantity {
  width: 40px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.order-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.order-btn:hover {
  background-color: #45a049;
}

.order-btn-bottom-right {
  position: absolute;
  bottom: 20px; /* Adjust distance from bottom */
  right: 20px; /* Adjust distance from right */
}



/* Additional CSS for order page */
.cart {
  padding: 50px 10%;
  background: #f9f9f9;
}

.order-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.order-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.order-item-info h3 {
  font-size: 1rem;
  font-weight: 600;
}

.order-item-info span {
  font-size: 1rem;
  color: var(--main-color);
}

.remove-btn {
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #ff3333;
}

.total {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
}
